.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 650px;
  height: 100vh;
  padding-left: 10px;
  margin: 50px auto;
  background-color: #f7d322;
  border-radius: 10px;
  box-shadow: none;
  font-family: 'Gochi Hand', cursive;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  color: black;
}

.loading-image {
    border-radius: 10px;
}


/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .App {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      padding-left: 10px;
      margin: none;
      background-color: #f7d322;
      border-radius: none;
      font-family: 'Gochi Hand', cursive;
      box-shadow: none;
    }

    .App-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: auto;
    }

}
